/.idea/
/mall.iml
/mall-common/mall-common.iml
/mall-common/target/

/mall-eureka/mall-eureka.iml
/mall-eureka/target/

/mall-stock/mall-stock.iml
/mall-stock/target/


/mall-user/mall-user.iml
/mall-user/target/
/mall-auth/mall-auth.iml
/mall-auth/target/
/mall-gateway/mall-gateway.iml
/mall-gateway/target/
/mall-user-api/mall-user-api.iml
/mall-user-api/target/
/mall-security/target/
/mall-security/mall-security.iml
/mall-seckill/target/
/mall-seckill/mall-seckill.iml
/mall_order/target/
/mall_order/mall_order.iml
