/.idea/
/mall.iml
/mall-common/mall-common.iml
/mall-common/target/

/mall-eureka/mall-eureka.iml
/mall-eureka/target/

/mall-stock/mall-stock.iml
/mall-stock/target/


/mall-user/mall-user.iml
/mall-user/target/
/mall-auth/mall-auth.iml
/mall-auth/target/
